<div class="divRow">
  <div class="divCell">{{product.name}}</div>
  <div class="divCell">{{product.qty}}</div>
  <div class="divCell"><span>$</span>{{product.price}}</div>
  <button  {{action 'editProduct' product.id}}>
    <i class="material-icons">mode_edit</i>
  </button>
  <button  {{action 'deleteProduct' product}}>
    <i class="material-icons">delete</i>
  </button>
</div>