{{outlet}}
<div class="product-form">
  {{input type="text" placeholder="Product Name"   value=name}}<br>
  {{input type="number" placeholder="Product QTY" value=qty}}<br>
  {{input type="number" placeholder="Product Price"value=price}}<br>
  <button {{action 'saveProduct'}}>Add</button>
</div>
<div class="edit-form-product">
  {{input type="text" placeholder="Product Name"   value=name }}<br>
  {{input type="number" placeholder="Product QTY" value=qty }}<br>
  {{input type="number" placeholder="Product Price" value=price }}<br>
  <button {{action 'saveEdit' model}}>Save</button>
</div>
<div class="divTable">
  <div class="headRow">
    <div class="divCell">Name</div>
    <div class="divCell">QTY</div>
    <div  class="divCell">Price</div>
  </div>
  {{#each model.products as |product|}}
    {{product-listing product=product edit=(action 'editProduct')}}
  {{/each}}
  <div class="headRow">
    <div  class="divCell colspan"><span>Total Price</span>
      <b class="total-price">${{totalPrice}}</b></div>
  </div>
</div>
<button {{action 'openEditor'}} class="add-product">Add Product</button>

